<title><%= pageTitle %> | <%= postName %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../assets/styles/bootstrap.min.css">
<link rel="stylesheet" href="../assets/styles/fontawesome.all.min.css">
<link rel="stylesheet" href="../assets/styles/style.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">

