
<div class="container my-4">
    <hr class="mb-3">
    <div class="d-flex justify-content-center">
        <nav>
            <ul class="pagination ">
                <li class="page-item"><a class="page-link text-dark" href="#">Previous</a></li>
                <li class="page-item active" ><a class="page-link text-white active bg-danger" href="#">1</a></li>
                <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                <li class="page-item"><a class="page-link text-dark" href="#">4</a></li>
                <li class="page-item"><a class="page-link text-dark" href="#">5</a></li>
                <li class="page-item"><a class="page-link text-dark" href="#">6</a></li>
                <li class="page-item"><a class="page-link text-dark" href="#">7</a></li>
                <li class="page-item"><a class="page-link text-dark" href="#">8</a></li>
                <li class="page-item"><a class="page-link text-dark" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>